<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
        <div id="footer" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a>Aidan Holland</a></li>
                <li><a href="mailto:thehappydinoa@gmail.com" title="Email"><i class="fa fa-2 fa-envelope" aria-hidden="true"></i></a></li>
                <li><a href="https://github.com/thehappydinoa" title="Github"><i class="fa fa-2 fa-github" aria-hidden="true"></i></a></li>
                <li><a href="https://twitter.com/thehappydinoa" title="Twitter"><i class="fa fa-2 fa-twitter" aria-hidden="true"></i></a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a>Copyright 2017</a></li>
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</nav>
