<nav role="navigation" class="navbar navbar-default">
    <a class="navbar-brand" href="{{ url_for('itunes') }}">iOSCrack</a>
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
            <li {%- if request.path=="{{ url_for('value') }}" %} class="active" {% endif %}><a href="{{ url_for('value') }}"><i class="fa fa-terminal" aria-hidden="true"></i> Input Hash</a></li>
            <li {%- if request.path=="{{ url_for('itunes') }}" %} class="active" {% endif %}><a href="{{ url_for('itunes') }}"><i class="fa fa-music" aria-hidden="true"></i> iTunes Backups</a></li>
        </ul>
    </div>
    <!--/.nav-collapse -->
</nav>
