<!DOCTYPE html>
<!-- HTML5 -->

<html lang="en">

<head>
    <meta charset="utf-8">
    <title>iOSCrack</title>

    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://use.fontawesome.com/27ff057f5d.js"></script>
</head>

<body>
    {% include 'includes/_navbar.html' %}
    <div class="container">
        {% include 'includes/_messages.html' %} {% block body %}{% endblock %}
    </div>
    {% include 'includes/_footer.html' %}
</body>

</html>
